body {
  font-size: 16px !important;
}

h1 {
  font-size: 26px !important;
}

h2 {
  font-size: 22px !important;
}

h3 {
  font-size: 20px !important;
}



.profile-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 0px;
}

.profile-header img {
  width: 150px;
  border-radius: 8px;
  margin-top: 0px;
}